<!DOCTYPE html>
<html>
  <head>
    <title>Ch6</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<nav>
  		<li><%= link_to 'Home', root_path %></li>
  		<li><%= link_to 'Alphabetized', alphabetized_path %></li>
  		<li><%= link_to 'Missing_email', missing_email_path %></li>
  	</nav>
  </header>
    <%= yield %>
  </body>
</html>
